
.btn btn-primary {
	color: #fff;
	background-color: red;
	border-color: #007bff;
	padding: 50px;
	margin: 35px;
}

input[type=checkbox] {
        margin-right: 190px;
    } 
    
   input[container] {
       margin-top:50px;
       margin-bottom:20px;
       width:80%;
       margin-left: 120px;
    }

